* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* *******************
General
******************* */
.container {
  width: 1440px;
  margin: 50px 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color:hsl(0, 0%, 100%); 
  padding: 0 20px;
}

button {
  border: none;
  border-radius: 50px;
  padding: 15px 80px;
  margin-top: 30px;
  font-weight: 700;
  color:hsl(0, 0%, 100%);
  background: linear-gradient(to right,rgba(4, 238, 255, 0.945), rgba(14, 217, 231, 0.767));  
  cursor: pointer;
}


h5 {
  font-weight: 200;
  line-height: 20px;
}


/* *******************
Colors
******************* */
.cyan {
  color: hsl(176, 68%, 64%);
}

.blue {
  color: hsl(198 60%, 50%);
}

.red {
  color: hsl(0, 100%, 63%);
}

/* *******************
Header: 
Navigation
******************* */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
}

.logo {
  width: 130px;
}

.nav-link:hover {
  text-decoration: underline;
}


/* *******************
Main:
Banner
******************* */
.upper-banner {
  text-align: center;
  margin: 60px 0;

}

.upper-banner-text h1 {
  font-size: 2em;  
  width: 600px;
  margin: 40px auto;
}

.upper-banner-text p {
  font-size: 1em;
  font-weight: 200;
  width: 450px;
  margin: 0 auto;
  line-height: 25px;
}

/* *******************
Main:
Cards after banner
******************* */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  margin: 200px auto;
  width: 900px;
  gap: 100px;
  text-align: center;
}

.cards img {
  width: 63px;
  height: 58px;
}

.card-2 img {
  width: 50px;
  height: 60px;
}

.card-3 img{
  width: 68px;
  height: 53px;
}

.card-4 img {
  width: 70px;
  height: 50px;
}

.cards h3 {
  margin: 15px 0;
}

/* *******************
Main:
Lower Banner
******************* */
.lower-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  text-align: left;
  margin: 100px auto;
}

.lower-banner h1 {
  font-size: 2em;
  line-height: 40px;
}

.lower-banner p {
  margin: 20px 0;
}

.lower-banner a {
  display: flex;
  text-decoration: none;
  color:hsl(0, 0%, 100%);
  width: 150px;
}

.lower-banner a:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}